@model TheFoody.Models.CollectionViewModel

<div class="order-information row">
    <div class="col-md-12">
        @*<h4 class="section-title pb-10">Order information</h4>*@
        @using (Html.BeginForm("CollectionOrder", "Restaurant", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4 class="section-title pb-10">Order information</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.totalprice, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.Label(Session["totalprice"].ToString(), new { @class = "form-control",})
                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PickupTime, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.PickupTime, new { @class = "form-control", @type = "time" })
                        @Html.ValidationMessageFor(model => model.PickupTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.PaymentType, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.PaymentType, ViewBag.PaymentType as IEnumerable<SelectListItem>)
                        @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
            </div>
    @*<div class="col-md-6">
        <h4 class="section-title pb-10 mb-15">Special Request</h4>
        <textarea class="special-request" name="special-request" id="special-request"></textarea>
    </div>*@
</div>



