@model TheFoody.Models.DeliveryViewModel

<div class="order-information row">
    <div class="col-md-12">
        @*<h4 class="section-title pb-10">Order information</h4>*@
        @using (Html.BeginForm("DeliveryOrder", "Restaurant", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4 class="section-title pb-10">Order information</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @{double deliverycharges = 80;double total = Convert.ToDouble(Session["totalprice"]) + 80;Session["totalprice"]=total}
                    @Html.LabelFor(model => model.deliverycharges, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.Label(@deliverycharges.ToString(), new { @class = "form-control", })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.totalprice, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.Label(@total.ToString(), new { @class = "form-control", })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.address, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.phone, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DeliveryTime, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.DeliveryTime, new { @class = "form-control", @type = "time" })
                        @Html.ValidationMessageFor(model => model.DeliveryTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.PaymentType, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.PaymentType, ViewBag.PaymentType as IEnumerable<SelectListItem>)
                        @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*<div class="row order-delivery-address">
    <div class="col-md-6">
        <h4 class="section-title pb-10 mb-15">Your delivery address</h4>
        <ul class="list-unstyled">
            <li>
                <input type="text" class="text" placeholder="Sahaara Court, 83 Lancaster Road">
            </li>
            <li>
                <input type="text" class="text" placeholder="WC3 8RD">
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="section-title pb-10 mb-15">Delivery postcode area</h4>
        <div class="postcode">
            ME1 1,ME1 2,ME1 3,ME1 9,ME2 1,ME2 2,ME2 3,ME2 4,ME3 7,ME3 8,ME3 9,ME4 3,ME4 4,ME4 5,ME4 6,ME4 9,ME5 0,ME5 7,ME5 8,ME5 9,ME7 1,ME7 2,ME7 3,ME7 4,ME7 5,ME7 9,ME8 0,ME8 1,ME8 6,ME8 7,ME8 8,ME8 9,SP8 9,ME1 1,ME1 2,ME1 3,ME1 9,ME2 1,ME2 2,ME2 3,ME2 4,ME3 7,ME3 8,ME3 9,ME4 3,ME4 4,ME4 5,ME4 6,ME4 9,ME5 0,ME5 7,ME5 8,ME5 9,ME7 1,ME7 2,ME7 3,ME7 4,ME7 5,ME7 9,ME8 0,ME8 1,ME8 6,ME8 7,ME8 8,ME8 9,SP8 9,ME1 1,ME1 2,ME1 3,ME1 9,ME2 1,ME2 2,ME2 3,ME2 4,ME3 7,ME3 8,ME3 9,ME4 3,ME4 4,ME4 5,ME4 6,ME4 9,ME5 0,ME5 7,ME5 8,ME5 9,ME7 1,ME7 2,ME7 3,ME7 4,ME7 5,ME7 9,ME8 0,ME8 1,ME8 6,ME8 7,ME8 8,ME8 9,SP8 9
        </div>
    </div>
</div>*@
@*<div class="row order-payment-method">
    <div class="col-md-12">
        <h4 class="section-title pb-10">Payment Options</h4>
        <ul class="list-inline payment-method-options">
            <li>
                <input class="custom-radio-big" type="radio" name="payment-option" id="method-cash">
                <label for="method-cash">Cash</label>
            </li>
            <li>
                <input class="custom-radio-big" type="radio" name="payment-option" id="method-paypal">
                <label for="method-paypal">Paypal</label>
            </li>
            <li>
                <input class="custom-radio-big" type="radio" name="payment-option" id="method-netpay">
                <label for="method-netpay">Netpay</label>
            </li>
        </ul>
    </div>
    <div class="col-md-12 payment-method-logos">
        <ul class="list-inline">
            <li><img src="images/payment-logo/cash.png" alt="Cash"></li>
            <li><img src="images/payment-logo/paypal.png" alt=""></li>
            <li><img src="images/payment-logo/worldpay.png" alt=""></li>
            <li><img src="images/payment-logo/netpay.png" alt=""></li>
            <li><img src="images/payment-logo/sagepay.png" alt=""></li>
        </ul>
    </div>
</div>*@
