@using System.Linq;
@using Newtonsoft.Json;
@model IEnumerable<TheFoody.Models.RestaurantViewModel>

@{

    Layout = null;
}


<div class="breadcrumb-wrapper">
    <div class="restaurant-wrapper">

        <div class="row">

            <div class="col-sm-8 col-md-9 mt-25">

                <div class="restaurant-list-wrapper">

                    @*@if (Model.Count() > 0)
                        {*@



                    @*//}
                        //else
                        //{*@
                    @foreach (var item in Model)
                    {
                        <div class="restaurant-item-list">

                            <div class="image">
                                <img src="~/images/restaurant-logo/@Html.DisplayFor(modelItem => item.Logo)" alt="image" />
                            </div>

                            <div class="content">
                                <div class="restaurant-item-list-info">

                                    <div class="row">

                                        <div class="col-sm-7 col-md-8">

                                            <h4 class="heading">@Html.DisplayFor(modelItem => item.RestaurantName)</h4>
                                            <div class="meta-div clearfix mb-25">
                                                <span>
                                                    at <a href="#">
                                                        @foreach (var it in item.categories)
                                                        {
                                                            @Html.DisplayFor(modelItem => it)
                                                            <span></span>
                                                        }
                                                    </a>
                                                </span>
                                                <span class="res-btn label label-success">Get Offer</span>
                                            </div>
                                            <p class="texing">Forget hunting around for paper takeaway menus, at thefoody.io you can instantly access a wide array of takeaway restaurants in your local area.Browse through peer-reviewed takeaway menus that include opening times, accepted payment types and special offers.</p>
                                        </div>
                                        <div class="col-sm-5 col-md-4">
                                            <ul class="meta-list">
                                                <li>
                                                    <span>Location:</span>
                                                    @Html.DisplayFor(modelItem => item.City)
                                                </li>
                                                <li>
                                                    <span>Rating:</span>
                                                    3.2
                                                </li>
                                                <li>
                                                    <span>Min Order:</span>
                                                    &pound;15
                                                </li>
                                                <li>
                                                    <span>Delivery: </span>
                                                    @Html.DisplayFor(modelItem => item.TimetakentoDeliver)
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>

                                <div class="restaurant-item-list-bottom">

                                    <div class="row">

                                        <div class="col-sm-7 col-md-8">
                                            <div class="sub-category">
                                                <span>
                                                    <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                                    <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                                    <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                                    <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                                    <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                                    <span class="review">
                                                        (<span>15</span>)
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-sm-5 col-md-4">
                                            <p><a href="@Url.Action("ViewMenu","Restaurant",new { id = item.RestId })" class="btn btn-primary">View Menu</a></p>
                                            <p id="Favourites"><a id="@item.RestId" onclick="clickedfavourites(@item.RestId)" class="btn btn-primary">Add to Favourites</a></p>


                                        </div>


                                    </div>


                                </div>

                            </div>


                        </div>

                    }
                </div>

                <div class="pager-wrapper">

                    <ul class="pager-list">
                        <li class="paging-nav"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="paging-nav"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="number">
                            <span class="mr-5"><span class="font600">page</span></span>
                        </li>
                        <li class="form">
                            <form>
                                <input type="text" value="1" class="form-control">
                            </form>
                        </li>
                        <li class="number">
                            <span class="mr-5">/</span> <span class="font600">79</span>
                        </li>
                        <li class="paging-nav"><a href="#">go</a></li>
                        <li class="paging-nav"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        <li class="paging-nav"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>

                </div>

            </div>

            <div class="col-sm-4 col-md-3 mt-25">

                <div class="restaurant-list-wrapper">

                    <aside class="sidebar with-filter">

                        <div class="sidebar-inner">

                            <div class="sidebar-module">
                                <h4 class="sidebar-title">Featured Restaurant</h4>

                                <div class="top-company-2-wrapper">

                                    <div class="GridLex-gap-10">

                                        <div class="GridLex-grid-noGutter-equalHeight">

                                            <div class="GridLex-col-12_sm-12_xs-6_xss-12">

                                                <div class="top-company-2">
                                                    <a href="#">

                                                        <div class="image">
                                                            <img src="images/brands/08.png" alt="image" />
                                                        </div>

                                                        <div class="content">
                                                            <h5 class="heading text-primary font700">Spice Delight</h5>
                                                            <p class="texting font600">Lorem ipsum dolor sit amet, consectetur and much more...</p>
                                                            <p class="mata-p clearfix"><span class="text-primary font700">&pound;15</span> <span class="font13">min order</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
                                                        </div>

                                                    </a>

                                                </div>

                                            </div>

                                            <div class="GridLex-col-12_sm-12_xs-6_xss-12">

                                                <div class="top-company-2">
                                                    <a href="#">

                                                        <div class="image">
                                                            <img src="images/brands/09.png" alt="image" />
                                                        </div>

                                                        <div class="content">
                                                            <h5 class="heading text-primary font700">Fish Chips</h5>
                                                            <p class="texting font600">Lorem ipsum dolor sit amet, consectetur and much more...</p>
                                                            <p class="mata-p clearfix"><span class="text-primary font700">&pound;15</span> <span class="font13">min order</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
                                                        </div>

                                                    </a>

                                                </div>

                                            </div>

                                            <div class="GridLex-col-12_sm-12_xs-6_xss-12">

                                                <div class="top-company-2">
                                                    <a href="#">

                                                        <div class="image">
                                                            <img src="images/brands/05.png" alt="image" />
                                                        </div>

                                                        <div class="content">
                                                            <h5 class="heading text-primary font700">Green Chilli</h5>
                                                            <p class="texting font600">Lorem ipsum dolor sit amet, consectetur and much more...</p>
                                                            <p class="mata-p clearfix"><span class="text-primary font700">&pound;15</span> <span class="font13">min order</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
                                                        </div>

                                                    </a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="sidebar-module">
                                <h4 class="sidebar-title">Top Locations</h4>

                                <ul class="sidebar-link-list">
                                    <li><a href="#">Louisville, KY <span>(432)</span></a></li>
                                    <li><a href="#">Charleroi, PA <span>(123)</span></a></li>
                                    <li>
                                        <a href="#">New York, NY<span>(3332)</span></a>
                                        <ul class="sidebar-link-list active">
                                            <li><a href="#">Mahattan<span>(23)</span></a></li>
                                            <li><a href="#">Broadway<span>(43)</span></a></li>
                                            <li><a href="#">Midtown<span>(09)</span></a></li>
                                            <li><a href="#">Brooklyn<span>(18)</span></a></li>
                                            <li><a href="#">Wall Streat<span>(65)</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Richmond, VA <span>(134)</span></a></li>
                                    <li><a href="#">Overland Park, KS <span>(321)</span></a></li>
                                    <li><a href="#">Dallas, TX <span>(554)</span></a></li>
                                    <li><a href="#">Irvine, CA <span>(66)</span></a></li>
                                    <li><a href="#">Escondido, CA <span>(78)</span></a></li>
                                </ul>

                            </div>

                            <div class="sidebar-module">
                                <h4 class="sidebar-title">New Restaurant</h4>

                                <div class="sub-category">
                                    <a href="#">Bangkok Lounge</a>
                                    <a href="#">Arabian Grill</a>
                                    <a href="#">Curry Garden</a>
                                    <a href="#">Green Chilli</a>
                                    <a href="#">Bangkok Takeaway</a>
                                    <a href="#">Curry Garden</a>
                                    <a href="#">Bangkok Lounge</a>
                                    <a href="#">Arabian Grill</a>
                                    <a href="#">Curry Garden</a>
                                    <a href="#">Green Chilli</a>
                                </div>

                            </div>

                        </div>

                    </aside>

                </div>

            </div>

        </div>

    </div>
</div>


<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Restaurant/changeAddToFavouritesLabel',
            type: 'POST',
            datatype: 'json',

            success: function (restId) {
                var modeldata =  @Html.Raw(JsonConvert.SerializeObject(this.Model));


                $.each(restId, function (i, favouriteRestid) {
                    $.each(modeldata, function (m, modelRestitem) {
                        if(favouriteRestid.toString() == JSON.stringify(modelRestitem.RestId))
                        {
                            //$('#'+modelRestitem.RestId).remove();
                            //$('#'+modelRestitem.RestId).append(
                            //    $('<a></a>')
                            //        .attr("id",modelRestitem.RestId)
                            //        .addClass("btn btn-primary")
                            //        .attr("onclick", "removeFromFavourites("+"#"+modelRestitem.RestId+")")
                            //        .text("Remove From Favourite"))
                            $('#'+modelRestitem.RestId).text('Remove From Favourite');
                            $('#'+modelRestitem.RestId).attr("onclick", "removeFromFavourites("+"#"+modelRestitem.RestId+")");
                        }

                    });
                })

            }

        })
    });

    function clickedfavourites(restid) {

        $.ajax({
            url: '/Restaurant/AddToFavourites',
            type: 'POST',
            data: { id: restid },

            success: function (boolvalue) {
                if (boolvalue == 0) {
                        alert("came!")
                    $('#'+restid).text('Remove From Favourite');
                    $('#'+restid).attr("onclick", "removeFromFavourites("+"#"+restid+")");

                    //$('#'+restid).remove();
                    //alert("removed!!!")
                    //var element="<a class='btn btn-primary' id='"+restid+"' onclick='"+"removeFromFavourites("+"#"+restid+")'"+">"+"Remove From Favourite"+"</a>"
                    //alert(element)
                    //$("#Favourites").append(element);
                   
                   
                   
                    //$('#'+restid).append(
                    //    $('<a></a>')
                    //        .attr("id",restid)
                    //        .addClass("btn btn-primary")
                    //        .attr("onclick", "removeFromFavourites("+"#"+restid+")")
                    //        .text("Remove From Favourite"));
                    alert("Removed label set")
                     }
                else {
                    alert("Favourite not Added!!")
                }
            }
        });
    }


    function removeFromFavourites(restid)
    {
        alert("remove function called")
        $.ajax({
            url: '/Restaurant/removeFromFavourites',
            type: 'POST',
            data: { id: restid },

            success: function (boolvalue) {
                if (boolvalue == 0) {
                    $('#'+restid).text('Add to Favourites');
                    $('#'+restid).attr("onclick", "clickedfavourites("+"#"+restid+")");
                    //$('#'+restid).remove();
                    //$('#'+restid).append(
                    //    $('<a></a>')
                    //        .attr("id",restid)
                    //        .addClass("btn btn-primary")
                    //        .attr("onclick", "clickedfavourites("+"#"+restid+")")
                    //        .text("Add to Favourites"));

                }
                else {
                    alert("Favourite removing cancelled!!")
                }
            }
        });
    }
</script>
