@using TheFoody.Controllers
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-wrapper">

    <div class="container">

        <ol class="breadcrumb-list booking-step">
            <li><a href="index.html">Home</a></li>
            <li><span>Checkout</span></li>
        </ol>

    </div>

</div>
<!-- end hero-header -->

<div class="section sm">
    <!-- Content Start -->
    <!-- Start order-online-->
    <div id="order-process">
        <div class="container">

            <div class="order-inner-content">
                <div class="row">
                    <div class="col-md-9">
                        <div class="order-process-left-side" id="loadpartial">
                           
                        </div>
                    </div>
                    <!-- Sidearea Starts -->
                    <div class="col-md-3 col-xs-12">
                        <!-- Spacer Starts -->
                        <div class="spacer-1 medium hidden-lg hidden-md"></div>
                        <!-- Spacer Ends -->
                        <!-- Your Order Starts -->
                        <div class="side-block-order border-radius-4">
                            <h5 class="text-center"><i class="fa fa-shopping-basket"></i> Your Orders</h5>
                            <!-- Heading Ends -->
                            <!-- Order Content Starts -->
                            <div class="side-block-order-content">
                                <!-- Order Item List Starts -->
                                <ul class="list-unstyled order-item-list">
                                    @{double total = 0;}
                                    @if (Session["Cart"] == null)
                                    {
                                        <li class="clearfix">
                                            <span class="pull-left">No Items in the basket</span>
                                            <span class="pull-right text-spl-color">-</span>
                                        </li>
                                    }
                                    else
                                    {
                                        foreach (Item item in (List<Item>)Session["Cart"])
                                        {


                                            double itemprice = item.Cartitem.MenuPrice * item.Cartitem.Quantity;
                                            total = total + itemprice;
                                            <li class="clearfix">

                                                @*@helper AjaxLink(string action, string controller, string icon_name)
                            {
                            <a href="@Url.Action(action, new { controller = controller })" data-ajax-update="#shoppingcart" data-ajax-mode="replace" data-ajax="true"><div class="icon @icon_name"></div></a>
                            }*@

                                                @*@Ajax.ActionLink("X", "RemovefromCart", new { Item = item }, new AjaxOptions
                                                   {
                                                       UpdateTargetId = "shoppingcart",
                                                       InsertionMode = InsertionMode.Replace,
                                                       HttpMethod = "GET",

                                                   }, new { style = "background-image:url(/images/remove.png)" })*@
                                                <span>@Html.DisplayFor(modelItem => item.Cartitem.Quantity)</span>
                                                <span>x</span>
                                                <span>@Html.DisplayFor(modelItem => item.Cartitem.MenuName)</span>
                                                <span class="pull-right text-spl-color">Rs.@itemprice</span>
                                            </li>
                                        }
                                        Session["totalprice"] = total;
                                    }
                                </ul>
                                <!-- Order Item List Ends -->
                                <div class="row">
                                    <div class="col-md-6 col-xs-6 col-sm-6">
                                        <input id="collection" class="custom-radio-big" type="radio" name="deliverypriority" value="Collection" checked>
                                        <label for="collection">Collection</label>
                                        
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6">
                                        <input id="delivery" class="custom-radio-big" type="radio" name="deliverypriority" value="Delivery">
                                        <label for="delivery">Delivery</label>
                                    </div>
                                </div>
                                <!-- Order Item Total Starts -->
                                <dl class="dl-horizontal order-item-total">
                                    <dt class="text-light">Orders Amount :</dt>
                                    <dd class="text-spl-color text-right">Rs.@total</dd>
                                    <dt class="text-light" id="delchargelbl">Delivery Charges :</dt>
                                    <dd class="text-spl-color text-right" id="delcharge">Rs.80.00</dd>
                                    <hr>
                                    <dt class="text-bold">Total  Amount :</dt>
                                    <dd class="text-bold text-spl-color text-right" id="totalam">Rs.@total</dd>
                                </dl>
                                <!-- Order Item Total Ends -->
                                

                            </div>
                        </div>
                        <!-- Your Order Ends -->
                        
                    </div>
                    <!-- Sidearea Ends -->
                </div>
            </div>
        </div>
        <!--.container-->
    </div>
    <!--#order-online-->
    <!--end order-online-->
    <!-- Content End -->

</div>
<script type="text/javascript">
    @*$(function () {
        $("[name=deliverypriority]").on('change', function () {
            //var $radio = $(this);
            var value = $("input[name='deliverypriority']:checked").val();

            $.ajax({
                url: '@Url.Action("GetOrderForm", "Restaurant")',
                data: deliverypriority = value,
                type: 'GET',
                success: function (data) {
                    alert("Yes");
                    $("#loadpartial").html(data);
                }
            });
        });
    });*@

    var rdbtn1 = document.getElementById('collection');
    rdbtn1.onclick = function () {
        if (this.checked) {
            var flag = 1;
            $.ajax({
                url: '@Url.Action("GetCollectionForm", "Restaurant")',
                type: 'POST',
                data: { deliveryFlag: flag },

            })
            .done(function (partialViewResult) {
                $("#loadpartial").html(partialViewResult);
            });


        }

    };

    var rdbtn2 = document.getElementById('delivery');
    rdbtn2.onclick = function () {
        if (this.checked) {
            var flag = 2;
            $.ajax({
                url: '@Url.Action("GetDeliveryForm", "Restaurant")',
                type: 'POST',
                data: { deliveryFlag: flag },

            })
            .done(function (partialViewResult) {
                $("#loadpartial").html(partialViewResult);
            });


        }

    };
</script>

