@model IEnumerable<TheFoody.Models.RestaurantViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start hero-header -->
<div class="breadcrumb-wrapper">

    <div class="container">

        <ol class="breadcrumb-list booking-step">
            <li><a href="#">Home</a></li>
            <li><span>All restaurant</span></li>
        </ol>

    </div>

</div>
<div class="section sm">

    <div class="container">

        <div class="sorting-wrappper">

            <div class="sorting-header">
               
                <h3 class="sorting-title">We found 592 restaurant</h3>
            </div>

            <div class="sorting-content">
                <div class="row">

                    <div class="col-sm-12 col-md-7">

                        <div class="row gap-10">


                          

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cuisine</label>
                                    @Html.DropDownList("Cuisine", ViewBag.cuisines as IEnumerable<SelectListItem>, "Nothing Selected")
                                    @*<select class="selectpicker show-tick form-control" data-selected-text-format="count > 3" data-done-button="true" data-done-button-text="OK" multiple>*@
                                        @*<div class="selectpicker show-tick form-control" data-selected-text-format="count > 3" data-done-button="true" data-done-button-text="OK" multiple>*@

                                    @*<select id="Cuisine">
                                        @*<option value="0">Nothing Selected</option>*@
                                    @*</select>*@


                                 </div>
                            </div>

                    </div>

                            <div class="col-sm-4">
                               <div class="form-group">
                  
                            </div>
                            </div>

                    </div>                
    
  



                            <div class="col-sm-12 col-md-5">

                                <div class="text-right hidden-sm hidden-xs">
                                    <button class="btn btn-toggle btn-refine collapsed" data-toggle="collapse" data-target="#refine-result">More filters</button>
                                </div>

                                <div class="job-type-checkbox-wrapper clearfix">
                                    <div class="checkbox-block job-type-checkbox freelance-checkbox">
                                        <input id="job_type_checkbox-3" name="job_type_checkbox" type="radio" class="checkbox" value="Reservation" checked />
                                        <label class="btn btn-success active" for="job_type_checkbox-3">Reservation</label>
                                    </div>

                                    <div class="checkbox-block job-type-checkbox part-time-checkbox">
                                        <input id="job_type_checkbox-2" name="job_type_checkbox" type="radio" class="checkbox" value="Delivery" unchecked />
                                        <label class="btn btn-primary" for="job_type_checkbox-2">Delivery</label>
                                    </div>

                                    <div class="checkbox-block job-type-checkbox full-time-checkbox">
                                        <input id="job_type_checkbox-1" name="job_type_checkbox" type="radio" class="checkbox" value="OpenNow" unchecked />
                                        <label class="btn btn-info" for="job_type_checkbox-1">Open Now</label>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="text-right visible-sm visible-xs">
                                    <button class="btn btn-toggle btn-refine collapsed" data-toggle="collapse" data-target="#refine-result">More filters</button>
                                </div>
                            </div>

                        </div>
                    
                    <div id="refine-result" class="collapse">
                        <div class="collapse-inner clearfix">

                            <div class="row">

                                <div class="col-sm-12 col-md-7">

                                    <div class="job-type-checkbox-wrapper visible-sm visible-xs clearfix">

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-4-mobile" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-4-mobile">Open Now</label>
                                        </div>

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-5-mobile" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-5-mobile">Distance</label>
                                        </div>

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-6-mobile" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-6-mobile">User Rating</label>
                                        </div>

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-7-mobile" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-7-mobile">Restaurant Name</label>
                                        </div>

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-8-mobile" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-8-mobile">Permanent</label>
                                        </div>

                                    </div>
                                    <div class="row gap-10">

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Rating:</label>
                                                <div class="sidebar-module-inner">
                                                    <input id="price_range" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-sm-12 col-md-5 hidden-sm hidden-xs">

                                    <div class="job-type-checkbox-wrapper clearfix">

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-4" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-4">Distance</label>
                                        </div>

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-5" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-5">Recommended</label>
                                        </div>

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-6" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-6">Price</label>
                                        </div>

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-7" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-7">Rating</label>
                                        </div>

                                        <div class="checkbox-block job-type-checkbox">
                                            <input id="job_type_checkbox-8" name="job_type_checkbox" type="checkbox" class="checkbox" value="First Choice" />
                                            <label class="" for="job_type_checkbox-8">Open Now</label>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div id="restaurantList">
                <!-- partial view content will be inserted here -->
                @Html.Partial("_RestaurantViewer", Model)
            </div>

        </div>

    </div>
</div>





<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script type="text/javascript">
   
    var Checkbox1 = document.getElementById('job_type_checkbox-1');
    Checkbox1.onclick = function () {
       
        if (this.checked) {
            
            var flag = 1;
            $.ajax({
                url: '@Url.Action("searchOpen_Restaurants", "Restaurant")',
                type: 'POST',
                data: { openFlag: flag },

            })
            .done(function (partialViewResult) {
                $("#restaurantList").html(partialViewResult);
            });


        }

    };

    var Checkbox2 = document.getElementById('job_type_checkbox-2');
    Checkbox2.onclick = function () {
        if (this.checked) {
            var flag = 2;
            $.ajax({
                url: '@Url.Action("searchDelivery_Restaurants", "Restaurant")',
                type: 'POST',
                data: { delivery: flag },

            })
            .done(function (partialViewResult) {
                $("#restaurantList").html(partialViewResult);
            });


        }

    };


    var Checkbox3 = document.getElementById('job_type_checkbox-3');
    Checkbox3.onclick = function () {
        if (this.checked) {
            var flag = 3;
            $.ajax({
                url: '@Url.Action("searchReservation_Restaurants", "Restaurant")',
                type: 'POST',
                data: { reservation: flag },

            })
            .done(function (partialViewResult) {
                $("#restaurantList").html(partialViewResult);
            });


        }

    };

    //$(document).ready(function () {
       


    //    $.ajax({
    //        url: '/Restaurant/getCuisineListFromDb',
    //        type: 'POST',
    //        dataType: 'json',
    //        success: function (data) {
    //            $.each(data, function (i, item) {
                  
    //                $("#Cuisine").append($("<option></option>").val(i).html(item.Text));
    //            });

    //        }
    //    });
    //});

  
    $(function () {
        $('select#Cuisine').change(function () {
           var selectedCuisine = $(this).val();
            $.ajax({
               url: '/Restaurant/searchCuisine',
                type: 'POST',
                data: { find: selectedCuisine},
            })
               .done(function (partialViewResult) {
                   $("#restaurantList").html(partialViewResult);
               });
            });
        });
    
    </script>    
}  