
@if (Session["UserEmail"]!=null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (Session["UserType"].ToString() == "Customer")
                {
                    @Html.ActionLink("Hello " + Session["UserEmail"].ToString() + "!", "Manage", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                }
                else
                {
                    @Html.ActionLink("Hello " + Session["UserEmail"].ToString() + "!", "EditRestaurant", "Restaurant", routeValues: null, htmlAttributes: new { title = "Edit Restaurant" })
                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav-mini sign-in">
        @*<li><a data-toggle="modal" href="#loginModal">login</a></li>
            <li><a data-toggle="modal" href="#registerModal">register</a></li>*@

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
